/* Top News Section */

#top-news {
    background: $background-color;
    .news-card {
        img {
            border-radius: 10px 0 0 10px;
            @include media-breakpoint-down(sm) {
                border-radius: 10px 10px 0 0;
            }
        }
        .links {
            span {
                font-size: $spacer * 0.8;
                font-style: italic;
                font-weight: 300;
            }
        }
    }
}